include /etc/$(BASE_PACKAGE)/profiles/dists/rhel-5-4-i386.cfg

miniascape_NAME    = rhel-5-4-vm-0
miniascape_DISK_1_NAME     = disk-vm-1-1.$(miniascape_DISK_IMG_FMT)

miniascape_NET_NETWORK_1       = network:net-1
miniascape_NET_NETWORK_2       = network:net-1
miniascape_NET_NETWORK_3       = network:net-3
miniascape_NET_NETWORK_4       = network:net-3

# vim: set ft=make:
