include MANIFEST.in
include README.rst
include miniascape.spec.in
include setup.py
include aux/*
include tools/*
include templates/autoinstall.d/*-ks.cfg
include templates/autoinstall.d/data/*
include templates/autoinstall.d/data/*/*
include templates/autoinstall.d/snippets/*
include templates/host/*
include templates/host/usr/libexec/miniascape/*
include templates/host/usr/libexec/miniascape/default/*
include templates/host/etc/*
include templates/host/etc/cluster/*
include templates/host/etc/httpd/conf.d/*
include templates/host/etc/auto.master.d/*
include tests/*.py
include tests/templates/*.py
include tests/templates/contexts.d/*.yml
include tests/templates/expected/*
recursive-include templates/config *.yaml
recursive-include templates/config *.j2
recursive-include tests *.py
recursive-include default *.yml
recursive-include miniascape *.py
