include MANIFEST.in
include README
include miniascape.spec.in
include setup.py
include tools/*
include templates/libvirt/*
include templates/autoinstall.d/*-ks.cfg
include templates/autoinstall.d/data/*
include templates/autoinstall.d/snippets/*
include templates/autoinstall.d/data/rhua/certs/Makefile
include templates/autoinstall.d/data/rhua/*
recursive-include config *.yml
recursive-include miniascape *.py
