include MANIFEST.in
include README.rst
include miniascape.spec.in
include setup.py
include aux/*
include tools/*
include templates/libvirt/*
include templates/autoinstall.d/*-ks.cfg
include templates/autoinstall.d/data/*
include templates/autoinstall.d/data/*/*
include templates/autoinstall.d/snippets/*
recursive-include default *.yml
recursive-include miniascape *.py
