name: {{ name }}
mode: {{ mode }}
bridge: {{ bridge }}
domain: {{ domain }}
gateway: {{ gateway }}
netmask: {{ netmask }}
network: {{ network }}
dhcp:
  start: {{ dhcp.start }}
  end: {{ dhcp.end }}
  static:
    start: {{ dhcp.static.start }}
    end: {{ dhcp.static.end }}

