name: {{ name }}
mode: {{ mode }}
bridge: {{ bridge }}
domain: {{ domain }}
gateway: {{ gateway }}
netmask: {{ netmask }}
network: {{ network }}
{% if dns is defined -%}
dns:
{% for d in dns %}  - ip: {{ d.ip }}
    hostname: {{ d.hostname }}
{% endfor -%}
{%- endif -%}
{% if dhcp is defined and dhcp.start is defined -%}
dhcp:
  start: {{ dhcp.start }}
  end: {{ dhcp.end }}
  {%  if dhcp.static is defined and dhcp.static.start is defined %}static:
    start: {{ dhcp.static.start }}
    end: {{ dhcp.static.end }}
{%-   endif %}
{%- endif %}
