{% block network -%}
{%   for ni in interfaces -%}
network --device={{ ni.device }} --bootproto={{ ni.bootproto|default('dhcp') }} --onboot={{ ni.onboot|default('yes') }}
{%-    if ni.bootproto == 'static' %} --ip={{ ni.ip }} --netmask={{ ni.netmask|default('255.255.255.0') }}
{%-      if ni.gateway is defined %} --gateway={{ ni.gateway }}{% endif -%}
{%-      if ni.nameserver is defined %} --nameserver={{ ni.nameserver }}{% endif -%}
{%-      if ni.fqdn is defined %} --hostname={{ ni.fqdn }}{% endif -%}
{%-    endif -%}
{%-    if ni.nodns is defined %} --nodns{% endif -%}
{%-    if ni.options %} {{ ni.options }}{% endif -%}
{%   endfor %}{% endblock %}
