{% for ni in interfaces if ni.device -%}
network --device={{ ni.device }}
{{-    " --onboot=%s" % ni.onboot|default('yes') -}}
{{-    " --bootproto=%s" % ni.bootproto|default('dhcp') -}}
{%-    if ni.bootproto is defined and ni.bootproto != 'dhcp' -%}
{{-        " --ip=%s" % ni.ip -}}
{{-        " --netmask=%s" % ni.netmask|default('255.255.255.0') -}}
{{-        " --gateway=%s" % ni.gateway if ni.gateway -}}
{%-        if ni.nameserver -%}
{{-            " --nameserver=%s" % ni.nameserver -}}
{%-        elif (nameservers is defined and nameservers) and
                (ni.nodns is undefined or not ni.nodns) -%}
{{-            " --nameserver=%s" % nameservers|map(attribute='ip')|join(',') -}}
{%-        endif -%}
{{-        " --hostname=%s" % ni.fqdn if ni.fqdn -}}
{%-    endif -%}
{{-    " --activate" if ni.activate -}}
{{-    " --nodefroute" if ni.nodefroute -}}
{{-    " --nodns" if ni.nodns -}}
{{-    " --noipv6" if (ipv6 is defined and not ipv6) or (noipv6 is defined and noipv6) -}}
{{-    " %s" % ni.options if ni.options }}
{% endfor %}
{# {%- if virtinst and virtinst.os_variant == 'rhel7' and fqdn -%}
{{     'network --hostname=%s' % fqdn -}}
{%  endif %} #}
{# #}
