{% for ni in interfaces if ni.device -%}
network --device={{ ni.device }}
{{-    " --onboot=%s" % ni.onboot|default('yes') -}}
{%-    if ni.bootproto is defined and ni.bootproto != 'dhcp' -%}
{{         " --bootproto=%s" % ni.bootproto -}}
{{-        " --ip=%s" % ni.ip -}}
{{-        " --netmask=%s" % ni.netmask|default('255.255.255.0') -}}
{{-        " --gateway=%s" % ni.gateway if ni.gateway -}}
{{-        " --nameserver=%s" % ni.nameserver if ni.nameserver -}}
{{-        " --hostname=%s" % ni.fqdn if ni.fqdn -}}
{%-    endif -%}
{{-    " --activate" if ni.activate -}}
{{-    " --nodefroute" if ni.nodefroute -}}
{{-    " --nodns" if ni.nodns -}}
{{-    " %s" % ni.options if ni.options }}
{% endfor %}
{% if virtinst and virtinst.os_variant == 'rhel7' %}
{{     'network --hostname=%s' % fqdn if fqdn }}
{% endif -%}
