AC_INIT([$package.name],[$package.version])
AM_INIT_AUTOMAKE
AC_CONFIG_SRCDIR([${package.name}.spec.in])
AC_CONFIG_MACRO_DIR([aux/m4])

AC_PROG_MINIASCAPE
AC_PROG_RPMBUILD
AC_CHECK_SOURCE_ZIP

#raw
timestamp=`LANG=C date +"%a %b %d %Y"`
AC_SUBST([TIMESTAMP],[$timestamp])
#end raw

AC_OUTPUT([
Makefile
${package.name}.spec
])
