AUTOMAKE_OPTIONS = foreign
EXTRA_DIST = ${package.name}.spec.in aux/rpm.mk
ACLOCAL_AMFLAGS = -I aux/m4

include $(abs_srcdir)/aux/rpm.mk

domainxmldir = ${domain.xml_path}
domainxmlstoredir = ${domain.xml_store_path}
dist_domainxml_DATA = ${domain.name}.xml
dist_domainxmlstore_DATA = $(dist_domainxml_DATA)


#for $image in $domain.delta_images
domainimg${image.name}dir = $image.path
dist_domainimg${image.name}_DATA = $image.name
#end for

#for $image in $domain.base_images
domainimg${image.name}dir = $image.path
dist_domainimg${image.name}_DATA = $image.name
#end for

