# disable debuginfo - it's pointless for kvm guest domains.
%define debug_package   %{nil}

%define image_u %(id qemu > /dev/null 2> /dev/null && echo qemu || echo root)
%define image_g %(id qemu > /dev/null 2> /dev/null && echo qemu || echo root)


Name:           @PACKAGE@
Version:        @VERSION@
Release:        1%{?dist}
Summary:        KVM guest instance of ${domain.name}
Group:          Development/System
License:        MIT
URL:            http://localhost
Source0:        %{name}-%{version}.tar.@SOURCE_ZIP_EXT@
BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)
BuildArch:      ${domain.arch}
Provides:       ${package.virtual_name}
Requires:       %{name}-base = %{version}
Requires:       miniascape


%description
The images and metadata of the KVM guest domain ${domain.name}.

This package provide ${domain.name} instance.


%package        base
Summary:        KVM guest instance pool, base images and metadata
Group:          Development/System


%description    base
The image and metadata of the KVM guest domain ${domain.name}.

This package provides base images of ${domain.name}.


%prep
%setup -q


%build
%configure
make %{?_smp_mflags}


#raw
%install
%{__rm} -rf $RPM_BUILD_ROOT
make install DESTDIR=$RPM_BUILD_ROOT
#end raw


%preun
if [ $1 = 0 ]; then  # erase
    /sbin/service libvirtd status >/dev/null 2>&1 && @VIRSH@ undefine %{domain_name} || :
fi


%post
if [ $1 = 1 ]; then    # install
    /sbin/service libvirtd status >/dev/null 2>&1 && @VIRSH@ define %{domain_xml_path} || :
elif [ $1 = 2 ]; then  # update
    /sbin/service libvirtd status >/dev/null 2>&1 && \
        (@VIRSH@ undefine %{domain_name} && @VIRSH@ define %{domain_xml_path}) || :
fi


%clean
%{__rm} -rf $RPM_BUILD_ROOT


%files
%defattr(-,root,root,-)
%doc README
%config %verify(not md5 size mtime) ${domain.xml_path}/${domain.name}.xml
%defattr(-,%{image_u},%{image_g},-)
#for $image in $domain.delta_images
$image.path
#end for


%files base
%defattr(-,root,root,-)
%doc README.base
%config ${domain.xml_store_path}/${domain.name}.xml
%defattr(-,%{image_u},%{image_g},-)
#for $image in $domain.base_images
$image.path
#end for


%changelog
* @TIMESTAMP@ vm-builder <vm-builder@localhost> - @VERSION@-1
- Initial packaging.
